<div class="flex flex-row justify-between m-7">
  <label class="text-xl">
    Manage Account
  </label>
  <label class="text-base mt-1">
    Hi, {{ user().name }} | <a class="text-[#C5E55D] cursor-pointer" (click)="logOut()">Sign out</a>
  </label>
</div>

<div class="py-5 px-7 flex flex-row gap-50">
  <div class="flex ml-7 flex-col items-start">
    <div
      class="w-20 h-20 rounded-full bg-gray-300 flex items-center justify-center overflow-hidden mb-2"
    >
      @if (user().profilePicture) {
        <img
          [src]="user().profilePicture"
          alt="Profile Picture"
          class="w-full h-full object-cover"
        />
      } @else {
        <ng-icon name="bootstrapPersonCircle" size="60" color="#fafcfa"></ng-icon>
      }
    </div>

    <p class="font-medium">
      {{ user().name }}
    </p>
    <p class="text-sm text-gray-600">
      {{ user().email }}
    </p>
    <div class="gap-1.5 flex flex-col">
      <button class="mt-10 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100 " (click)="setProfileTab('Personal Information')" [class]="{'border-lime-300': selectedTab === 'Personal Information', 'border-gray-200': selectedTab !== 'Personal Information', 'bg-[#C5E55D]': selectedTab === 'Personal Information', 'text-gray-700': selectedTab !== 'Personal Information'}">
        Personal Information
      </button>
      <button class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100" (click)="setProfileTab('Manage Password')" [class]="{'border-lime-300': selectedTab === 'Manage Password', 'border-gray-200': selectedTab !== 'Manage Password', 'text-gray-700': selectedTab !== 'Manage Password', 'bg-[#C5E55D]': selectedTab === 'Manage Password'}">
        Manage Password
      </button>
      @if (userRole == 'DRIVER') {
        <button class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100" (click)="setProfileTab('Driver Information')" [class]="{'border-lime-300': selectedTab === 'Driver Information', 'border-gray-200': selectedTab !== 'Driver Information', 'text-gray-700': selectedTab !== 'Driver Information', 'bg-[#C5E55D]': selectedTab === 'Driver Information'}">
          Driver Information
        </button>
        <button class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100" (click)="setProfileTab('Vehicle Information')" [class]="{'border-lime-300': selectedTab === 'Vehicle Information', 'border-gray-200': selectedTab !== 'Vehicle Information', 'text-gray-700': selectedTab !== 'Vehicle Information', 'bg-[#C5E55D]': selectedTab === 'Vehicle Information'}">
          Vehicle Information
        </button>
      }
      <button class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100" (click)="setProfileTab('Favorite Routes')" [class]="{'border-lime-300': selectedTab === 'Favorite Routes', 'border-gray-200': selectedTab !== 'Favorite Routes', 'text-gray-700': selectedTab !== 'Favorite Routes', 'bg-[#C5E55D]': selectedTab === 'Favorite Routes'}">
        Favorite Routes
      </button>
      <!--
      <button class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100" (click)="setProfileTab('Ride History')" [class]="{'border-lime-300': selectedTab === 'Ride History', 'border-gray-200': selectedTab !== 'Ride History', 'text-gray-700': selectedTab !== 'Ride History', 'bg-[#C5E55D]': selectedTab === 'Ride History'}">
        Ride History
      </button>
      -->
      <button
        class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100"
        (click)="setProfileTab(userRole === 'ADMIN' ? 'Admin Ride History' : 'Ride History')"
        [class]="{
    'border-lime-300': selectedTab === 'Ride History' || selectedTab === 'Admin Ride History',
    'border-gray-200': selectedTab !== 'Ride History' && selectedTab !== 'Admin Ride History',
    'text-gray-700': selectedTab !== 'Ride History' && selectedTab !== 'Admin Ride History',
    'bg-[#C5E55D]': selectedTab === 'Ride History' || selectedTab === 'Admin Ride History'
  }"
      >
        Ride History
      </button>

      @if (userRole === 'ADMIN') {
        <button
          class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100"
          (click)="setProfileTab('Admin Panic')"
          [class]="{'border-lime-300': selectedTab === 'Admin Panic', 'border-gray-200': selectedTab !== 'Admin Panic', 'text-gray-700': selectedTab !== 'Admin Panic', 'bg-[#C5E55D]': selectedTab === 'Admin Panic'}"
        >
          Panic dashboard
        </button>

        <button
          class="mt-1 cursor-pointer border rounded-xl p-4 pt-2 pb-2 hover:bg-gray-100"
          (click)="setProfileTab('Admin Notifications')"
          [class]="{'border-lime-300': selectedTab === 'Admin Notifications', 'border-gray-200': selectedTab !== 'Admin Notifications', 'text-gray-700': selectedTab !== 'Admin Notifications', 'bg-[#C5E55D]': selectedTab === 'Admin Notifications'}"
        >
          Notifications
        </button>
      }
    </div>
  </div>



  @if (selectedTab == 'Personal Information' && !isEditing) {
    <div class="mt-6">
      <div class="flex flex-row justify-between">
        <div class="flex flex-col">
          <h2 class="text-3xl font-bold">
            {{selectedTab}}
          </h2>
          <p class="mt-3 text-gray-600">
            Manage your personal information such as name, email, address and phone number.
          </p>
        </div>
        <div (click)="setIsEditing(true)" class="cursor-pointer flex flex-row content-center justify-center items-center border border-[#BEBEBE] bg-[#F0F0F0] rounded-xl p-2 gap-2 hover:bg-gray-50 h-10">
          <ng-icon name="bootstrapPencilFill" size="20" color="#a1bf3f"></ng-icon>
          <p class="text-base">Edit Profile</p>
        </div>
      </div>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Name"
          value={{user().name}}
          iconName="bootstrapPersonFill"
        ></app-profile-card>
        <app-profile-card
          title="Email"
          value={{user().email}}
          iconName="bootstrapEnvelopeFill"
        ></app-profile-card>
      </div>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Address"
          value={{user().address}}
          iconName="bootstrapPinMapFill"
        ></app-profile-card>
        <app-profile-card
          title="Phone number"
          value={{user().phoneNumber}}
          iconName="bootstrapTelephoneFill"
        ></app-profile-card>
      </div>
    </div>
  } @else if (selectedTab == 'Manage Password') {
    <app-manage-password></app-manage-password>
  } @else if (selectedTab == 'Driver Information') {
    <div class="mt-6">
      <h2 class="text-3xl font-bold">
        {{selectedTab}}
      </h2>
      <p class="mt-3 text-gray-600">
        View your number of active hours.
      </p>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Active In Last 24H"
          value={{driverActiveHours}}
          iconName="bootstrapClockFill"
        ></app-profile-card>
      </div>
    </div>
  } @else if (selectedTab == 'Vehicle Information' && !isVehicleEditing) {
    <div class="mt-6">
      <div class="flex flex-row justify-between">
        <div class="flex flex-col">
          <h2 class="text-3xl font-bold">
            {{selectedTab}}
          </h2>
          <p class="mt-3 text-gray-600">
            Manage your vehicle information such as model, type, plate number and seating capacity.
          </p>
        </div>
        <div (click)="setIsEditingVehicle(true)" class="cursor-pointer flex flex-row content-center justify-center items-center border border-[#BEBEBE] bg-[#F0F0F0] rounded-xl p-2 gap-2 hover:bg-gray-50 h-10">
          <ng-icon name="bootstrapPencilFill" size="20" color="#a1bf3f"></ng-icon>
          <p class="text-base">Edit Vehicle</p>
        </div>
      </div>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Model"
          value={{vehicle().model}}
          iconName="bootstrapCarFrontFill"
        ></app-profile-card>
        <app-profile-card
          title="Type"
          value={{vehicle().type}}
          iconImage="icons/diamond.svg"
        ></app-profile-card>
      </div>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Plate No."
          value={{vehicle().plateNumber}}
          iconImage="icons/license-plate.svg"
        ></app-profile-card>
        <app-profile-card
          title="Seats"
          value={{vehicle().seats}}
          iconImage="icons/car-seat.svg"
        ></app-profile-card>
      </div>
      <div class="flex flex-row gap-15">
        <app-profile-card
          title="Baby Allowed"
          [value]="vehicle().babiesAllowed ? 'Yes' : 'No'"
          iconImage="icons/baby.svg"
        ></app-profile-card>
        <app-profile-card
          title="Pets Allowed"
          [value]="vehicle().petsAllowed ? 'Yes' : 'No'"
          iconImage="icons/pets.svg"
        ></app-profile-card>
      </div>
    </div>
  } @else if (selectedTab == 'Personal Information' && isEditing) {
    <app-edit-profile
      [user]="user()"
      (saveProfile)="updateUser($event)"
      (closeEdit)="setIsEditing($event)">
    ></app-edit-profile>
  } @else if (selectedTab == 'Vehicle Information' && isVehicleEditing) {
    <app-edit-vehicle
      [vehicle]="vehicle()"
      (saveVehicle)="updateVehicle($event)"
      (closeEdit)="setIsEditingVehicle($event)">
    ></app-edit-vehicle>
  } @else if (selectedTab == 'Favorite Routes') {
    <app-favorite-routes class="w-full"></app-favorite-routes>
  }@else if (selectedTab === 'Admin Ride History' && userRole === 'ADMIN') {
    <div class="mt-6 w-full">
      <h2 class="text-3xl font-bold">Ride History</h2>


      <div class="mt-6">
        <app-admin-rides></app-admin-rides>
      </div>
    </div>
  }@else if (selectedTab === 'Admin Panic' && userRole === 'ADMIN') {
    <div class="mt-6 w-full">
      <h2 class="text-3xl font-bold">Panic dashboard</h2>


      <div class="mt-6">
        <app-admin-panic></app-admin-panic>
      </div>
    </div>
  }




</div>

