<div class="flex flex-col items-center z-50 gap-5">
  <h1>
    New order
  </h1>
  <div class="flex flex-col">
    <label>
      Start:
    </label>
    <div class="bg-[#F0F0F038] rounded-2xl p-2 pl-4 pr-20 justify-start justify-items-start border-[#BEBEBE85] border">
      <p>Bulevar Jovana Ducica 15</p>
    </div>
  </div>
  <div class="flex flex-col">
    <label>
      End:
    </label>
    <div class="bg-[#F0F0F038] rounded-2xl p-2 pl-4 pr-20 justify-start justify-items-start border-[#BEBEBE85] border">
      <p>Bulevar Oslobodjenja 42</p>
    </div>
  </div>
  <div class="flex flex-col">
    <label>
      Passangers:
    </label>
    <div class="flex flex-row align-middle">
      <label
        class="w-full max-w-10 mb-5 aspect-4/4 rounded-full bg-neutral-200 flex items-center justify-center relative overflow-hidden mx-auto"
      >
        <img
          src="icons/logo.svg"
          alt="Profile preview"
          class="absolute inset-0 w-full h-full object-fit" />
      </label>
      <p>
        Name
      </p>
    </div>
  </div>
</div>
