<header class="relative h-21.25 w-full bg-black text-white">
  <div class="h-full flex items-center px-17.5">
    <div class="relative w-18.75 h-12.25">
      <img src="icons/logo.svg" alt="logo" class="h-12 w-auto" />
    </div>
  </div>
</header>

<div class="flex h-screen font-sans">
  <!-- Sidebar -->
  <aside class="w-[260px] border-r border-gray-300 p-6">
    <div class="w-16 h-16 rounded-full bg-gray-200 mb-3"></div>
    <div class="font-semibold">John Doe</div>
    <div class="text-sm text-gray-500">johndoe@gmail.com</div>
  </aside>

  <!-- Content -->
  <main class="flex-1 p-8 justify-center w-full">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold">Ride History</h2>
      <span class="text-lg cursor-pointer">⇅</span>
    </div>

    <!-- Filters -->
    <div class="flex gap-2 mb-6">
      <button
        class="px-4 py-1 rounded-full border text-sm cursor-pointer hover:opacity-80"
        [ngClass]="sort === 'date' ? 'border-black' : 'border-gray-400'"
        (click)="setSort('date')"
      >
        by date
      </button>

      <button
        class="px-4 py-1 rounded-full border text-sm cursor-pointer hover:opacity-80"
        [ngClass]="sort === 'price' ? 'border-black' : 'border-gray-400'"
        (click)="setSort('price')"
      >
        by price
      </button>

      <button
        class="px-4 py-1 rounded-full border text-sm cursor-pointer hover:opacity-80"
        [ngClass]="sort === 'route' ? 'border-black' : 'border-gray-400'"
        (click)="setSort('route')"
      >
        by route
      </button>
    </div>

    <!-- Ride list -->
    @for (r of rides; track r) {
    <div class="mb-3 border rounded-xl border-gray-200 overflow-hidden">
      <button
        (click)="r.open = !r.open"
        class="w-full text-left px-4 py-3 text-sm flex justify-between items-center hover:shadow-md hover:border-gray-400 hover:bg-gray-50"
        onclick="this.nextElementSibling.classList.toggle('hidden')"
      >
        <span class="flex items-center">
          <span class="mr-4">{{ r.beginSpot }}</span>
          <span class="mr-4 flex items-center">
            <ng-icon name="bootstrapClock" class="mr-1"></ng-icon>
            {{ r.beginTime | date : 'HH:mm' }}
          </span>
          <ng-icon class="mr-4" name="bootstrapArrowRight"></ng-icon>
          <span class="mr-4">{{ r.endSpot }}</span>
          <span class="mr-4 flex items-center">
            <ng-icon name="bootstrapClock" class="mr-1"></ng-icon>
            {{ r.endTime | date : 'HH:mm' }}
          </span>
          <span class="ml-6 flex items-center">
            <ng-icon name="bootstrapCash" class="mr-1"></ng-icon>
            <span>{{ r.price | number : '1.2-2' }} RSD</span>
          </span>
        </span>
        <ng-icon [name]="r.open ? 'bootstrapCaretUpFill' : 'bootstrapCaretDownFill'"></ng-icon>
        <!-- toggle arrow -->
      </button>
      <div class="px-4 py-3 text-sm border-t border-gray-200 hidden">
        <p>Additional details: {{ r.notes }}</p>
      </div>
    </div>
    }
  </main>
</div>
