<div class="bg-[#F0F0F0] rounded-2xl p-3 pt-3 pl-6 w-96 mt-10 border border-[#BEBEBE] flex flex-row justify-between shadow-lg">
  <div class="flex flex-col mb-4">
    <label class="text-lg font-bold">
      {{ title }}
    </label>
    <label class="mb-3 font-medium text-[#505050]">
      {{ value }}
    </label>
  </div>
  <ng-icon [name]="iconName" size="30" color="#C5E55D" class="mt-1 mr-1"></ng-icon>
  @if (iconName == 'custom'){
    <img [src]="iconImage" alt="icon" class="w-11 h-14.5 pb-5">
  }

</div>
