<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-[60]" (click)="onClose()">
  <div
    class="w-[980px] max-w-[95vw] bg-white rounded-2xl border border-gray-200 p-5"
    (click)="$event.stopPropagation()"
  >
    <div class="flex items-start justify-between">
      <div>
        <div class="text-xl font-bold">Ride Details</div>
      </div>
      <button
        class="px-3 py-1.5 rounded-xl border border-gray-200 hover:bg-gray-100"
        (click)="onClose()"
      >
        ✕
      </button>
    </div>

    <div class="mt-4">
      @if (dto) {
        <div class="mt-3 grid grid-cols-[360px_1fr] gap-4">
          <!-- LEFT INFO -->
          <div class="border border-gray-200 rounded-xl p-4">
            <div class="text-sm text-gray-600">Driver:</div>
            <div class="font-semibold mb-3">
              {{ dto.driver.firstName }} {{ dto.driver.lastName }}
            </div>

            <div class="text-sm text-gray-600">Start:</div>
            <div class="mb-3">{{ dto.ride.startAddress }}</div>

            <div class="text-sm text-gray-600">Finish:</div>
            <div class="mb-3">{{ dto.ride.destinationAddress }}</div>

            <div class="text-sm text-gray-600">Time on the road:</div>
            <div class="mb-3">
              {{ dto.ride.startedAt | date: 'short' }} — {{ dto.ride.endedAt | date: 'short' }}
            </div>

            <div class="text-sm text-gray-600">Price:</div>
            <div class="font-semibold mb-3">{{ dto.ride.price }} RSD</div>

            <div class="text-sm text-gray-600">Flags:</div>
            <div class="mb-3">
              PANIC: <b>{{ dto.ride.panicTriggered ? 'yes' : 'no' }}</b>
            </div>
          </div>

          <!-- RIGHT MAP -->
          <div class="border border-gray-200 rounded-xl overflow-hidden bg-white h-[420px]">
            <app-map [pins]="pins"> </app-map>
          </div>
        </div>
      }
    </div>
  </div>
</div>
